# Dependencies
node_modules/

# Build
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Vite
front/.vite/

# TypeScript
*.tsbuildinfo
# Uploads
back/public/uploads/*
!back/public/uploads/.gitkeep
